/* app.component.css */

/* Resetting default margins and paddings */
body, html {
    margin: 0;
    padding: 0;
}

/* Styling for the logo container */
.logo-container {
    text-align: center; /* Center align the logo */
    margin-bottom: 20px; /* Space below the logo */
}

.logo-container img {
    max-width: 300px; /* Adjust max-width as per your design */
    height: auto; /* Maintain aspect ratio */
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-size: 200%;
    box-shadow: 0 12px 15px 0 rgba(65, 40, 111, 0.24), 0 17px 60px 0 rgba(65, 46, 111, 0.19);
}

.role-options-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.role-option {
    flex: 1;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* Space between role options */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.role-option.patient {
    background-color: #7461aa; /* Light red for patient */
}

.role-option.doctor {
    background-color: #7461aa; /* Light green for doctor */
}

/*.option {*/
/*    margin-bottom: 10px;*/
/*}*/

.option {
    width: 290px; /* Set the width to match the smallest width (120px for patient logo) */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure the image is block-level */
    margin: 0 auto; /* Center the image horizontally */
}


.option p {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;

}


.back-btn {
    background-color: #7461aa;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
    border-radius: 5px;
}

.back-btn:hover {
    background-color: #563d88;
}

/* Hover Effects */
.role-option:hover {
    transform: translateY(-5px); /* Move up on hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.option:hover img {
    transform: scale(1.1); /* Scale up image on hover */
}

/* Responsive design */
@media (max-width: 600px) {
    .role-options-container {
        flex-direction: column;
    }

    .role-option {
        flex: 0 0 auto;
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0; /* Remove margin between options on smaller screens */
    }
}
