<!-- Patient Dashboard Component Template -->

<div class="dashboard-container">
    <div class="sidebar">
        <!-- Navigation Menu -->
        <nav>
            <ul class="menu">
                <li><a routerLink="/patientDashboard/doctor-search">Doctors</a></li>
                <li><a routerLink="/patientDashboard/consultation-requests">Consultation</a></li>
                <li><a routerLink="/patientDashboard/patient-MR">Medical History</a></li>
                <!-- Add more menu items for additional functionalities -->
            </ul>
        </nav>
    </div>

    <div class="main-content">
        <!-- Dashboard Overview -->
        <h2>Welcome, Patient!</h2>
        <p>Here's a quick overview of your activities and pending tasks.</p>

        <!-- Router Outlet for Dynamic Content -->
        <router-outlet></router-outlet>
    </div>
</div>
